src/70_domains/idpay_common/data_factory_pipelines/idpay_copy_rdb_products_to_csv.json
{
  "name": "idpay_copy_rdb_products_to_csv",
  "properties": {
    "activities": [
      {
        "name": "Copy_Cosmos_to_CSV",
        "type": "Copy",
        "dependsOn": [],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "CosmosDbMongoDbApiSource",
            "batchSize": 100,
            "filter": "{ \"status\": \"APPROVED\" }",
            "cursorMethods": {
              "project": "{ \"_id\": 1, \"model\": 1, \"brand\": 1, \"eprelCode\": 1, \"countryOfProduction\": 1, \"energyClass\": 1, \"capacity\": 1, \"productName\": 1, \"category\": 1, \"productGroup\": 1 }"
            }
          },
          "sink": {
            "type": "DelimitedTextSink",
            "storeSettings": {
              "type": "AzureBlobFSWriteSettings",
              "copyBehavior": "FlattenHierarchy"
            },
            "formatSettings": {
              "type": "DelimitedTextWriteSettings",
              "quoteAllText": true,
              "fileExtension": ".txt"
            }
          },
          "enableStaging": false,
          "translator": {
            "type": "TabularTranslator",
            "mappings": [
              {
                "source": {
                  "path": "$['_id']"
                },
                "sink": {
                  "name": "_id",
                  "type": "String"
                }
              },
              {
                "source": {
                  "path": "$['model']"
                },
                "sink": {
                  "name": "model",
                  "type": "String"
                }
              },
              {
                "source": {
                  "path": "$['brand']"
                },
                "sink": {
                  "name": "brand",
                  "type": "String"
                }
              },
              {
                "source": {
                  "path": "$['eprelCode']"
                },
                "sink": {
                  "name": "eprelCode",
                  "type": "String"
                }
              },
              {
                "source": {
                  "path": "$['countryOfProduction']"
                },
                "sink": {
                  "name": "countryOfProduction",
                  "type": "String"
                }
              },
              {
                "source": {
                  "path": "$['energyClass']"
                },
                "sink": {
                  "name": "energyClass",
                  "type": "String"
                }
              },
              {
                "source": {
                  "path": "$['capacity']"
                },
                "sink": {
                  "name": "capacity",
                  "type": "String"
                }
              },
              {
                "source": {
                  "path": "$['productName']"
                },
                "sink": {
                  "name": "productName",
                  "type": "String"
                }
              },
              {
                "source": {
                  "path": "$['category']"
                },
                "sink": {
                  "name": "category",
                  "type": "String"
                }
              },
              {
                "source": {
                  "path": "$['productGroup']"
                },
                "sink": {
                  "name": "productGroup",
                  "type": "String"
                }
              }
            ],
            "mapComplexValuesToString": false
          }
        },
        "inputs": [
          {
            "referenceName": "cosmos_rdb_products",
            "type": "DatasetReference"
          }
        ],
        "outputs": [
          {
            "referenceName": "data_export_csv",
            "type": "DatasetReference"
          }
        ]
      },
      {
        "name": "FlussoExportCSV",
        "type": "ExecuteDataFlow",
        "dependsOn": [
          {
            "activity": "Copy_Cosmos_to_CSV",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "dataFlow": {
            "referenceName": "export_flow_csv",
            "type": "DataFlowReference"
          },
          "compute": {
            "coreCount": 8,
            "computeType": "General"
          },
          "traceLevel": "Fine"
        }
      },
      {
        "name": "Copy_To_Bonus",
        "type": "Copy",
        "dependsOn": [
          {
            "activity": "FlussoExportCSV",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.01:00:00",
          "retry": 2,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "BinarySource"
          },
          "sink": {
            "type": "BinarySink"
          },
          "enableStaging": false
        },
        "inputs": [
          {
            "referenceName": "data_export_csv_file",
            "type": "DatasetReference"
          }
        ],
        "outputs": [
          {
            "referenceName": "data_export_csv_file_bonus",
            "type": "DatasetReference"
          }
        ]
      },
      {
        "name": "Generate_SAS",
        "type": "WebActivity",
        "dependsOn": [
          {
            "activity": "Copy_To_Bonus",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.00:05:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": true,
          "secureInput": true
        },
        "userProperties": [],
        "typeProperties": {
          "method": "POST",
          "headers": {
            "Content-Type": "application/json"
          },
          "url": {
            "value": "@concat('https://management.azure.com/subscriptions/', string(pipeline().parameters.subscriptionId), '/resourceGroups/', string(pipeline().parameters.resourceGroup), '/providers/Microsoft.Storage/storageAccounts/', string(pipeline().parameters.exportAccountName), '/ListServiceSas?api-version=2023-05-01')",
            "type": "Expression"
          },
          "connectVia": {
            "referenceName": "AutoResolveIntegrationRuntime",
            "type": "IntegrationRuntimeReference"
          },
          "body": {
            "canonicalizedResource": {
              "type": "Expression",
              "value": "@concat('/blob/', pipeline().parameters.exportAccountName, '/export/data/export_daily_', formatDateTime(utcNow(),'yyyy-MM-dd'), '.csv')"
            },
            "signedResource": "b",
            "signedPermission": "r",
            "signedProtocol": "https",
            "signedStart": {
              "type": "Expression",
              "value": "@utcNow()"
            },
            "signedExpiry": {
              "type": "Expression",
              "value": "@formatDateTime(addDays(utcNow(), 7), 'yyyy-MM-ddTHH:mm:ssZ')"
            },
            "signedVersion": "2020-02-10"
          },
          "authentication": {
            "type": "MSI",
            "resource": "https://management.azure.com/"
          }
        }
      },
      {
        "name": "Get_SubKey",
        "type": "WebActivity",
        "dependsOn": [
          {
            "activity": "Generate_SAS",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.00:02:00",
          "retry": 3,
          "retryIntervalInSeconds": 30,
          "secureOutput": true,
          "secureInput": true
        },
        "userProperties": [],
        "typeProperties": {
          "method": "GET",
          "headers": {
            "Content-Type": "application/json"
          },
          "disableCertValidation": false,
          "url": {
            "value": "@concat(pipeline().parameters.kvUrl,'/secrets/', pipeline().parameters.kvSecretName, '?api-version=7.3')",
            "type": "Expression"
          },
          "authentication": {
            "type": "MSI",
            "resource": "https://vault.azure.net"
          }
        }
      },
      {
        "name": "Get_NotifyTo",
        "type": "WebActivity",
        "dependsOn": [
          {
            "activity": "Get_SubKey",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.00:02:00",
          "retry": 3,
          "retryIntervalInSeconds": 30,
          "secureOutput": true,
          "secureInput": true
        },
        "userProperties": [],
        "typeProperties": {
          "method": "GET",
          "headers": {
            "Content-Type": "application/json"
          },
          "disableCertValidation": false,
          "url": {
            "value": "@concat(pipeline().parameters.kvUrl,'/secrets/', pipeline().parameters.notifyToSecretName, '?api-version=7.3')",
            "type": "Expression"
          },
          "authentication": {
            "type": "MSI",
            "resource": "https://vault.azure.net"
          }
        }
      },
      {
        "name": "Notify_Email_via_MS",
        "type": "WebActivity",
        "dependsOn": [
          {
            "activity": "Get_NotifyTo",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.00:05:00",
          "retry": 3,
          "retryIntervalInSeconds": 30,
          "secureOutput": true,
          "secureInput": true
        },
        "userProperties": [],
        "typeProperties": {
          "method": "POST",
          "headers": {
            "Content-Type": "application/json",
            "Ocp-Apim-Subscription-Key": {
              "value": "@activity('Get_SubKey').output.value",
              "type": "Expression"
            }
          },
          "url": {
            "value": "@pipeline().parameters.notifyUrl",
            "type": "Expression"
          },
          "connectVia": {
            "referenceName": "AutoResolveIntegrationRuntime",
            "type": "IntegrationRuntimeReference"
          },
          "body": {
            "recipientEmail": {
              "type": "Expression",
              "value": "@activity('Get_NotifyTo').output.value"
            },
            "subject": {
              "type": "Expression",
              "value": "@concat('Export giornaliero dei prodotti ', formatDateTime(utcNow(),'yyyy-MM-dd'))"
            },
            "templateName": "Email_ExportDaily_Products",
            "templateValues": {
              "downloadLink": {
                "type": "Expression",
                "value": "@concat('https://', pipeline().parameters.exportAccountName, '.blob.core.windows.net/export/data/export_daily_', formatDateTime(utcNow(),'yyyy-MM-dd'), '.csv?', activity('Generate_SAS').output.serviceSasToken)"
              },
              "exportDate": {
                "type": "Expression",
                "value": "@formatDateTime(utcNow(),'yyyy-MM-dd')"
              },
              "initiativeName": "IDPAY",
              "orgName": "PagoPA S.p.A.",
              "productFileName": {
                "type": "Expression",
                "value": "@concat('export_daily_', formatDateTime(utcNow(),'yyyy-MM-dd'), '.csv')"
              }
            }
          }
        }
      }
    ],
    "parameters": {
      "exportAccountName": {
        "type": "String"
      },
      "kvSecretName": {
        "type": "String"
      },
      "kvUrl": {
        "type": "String"
      },
      "notifyToSecretName": {
        "type": "String"
      },
      "notifyUrl": {
        "type": "String"
      },
      "resourceGroup": {
        "type": "String"
      },
      "subscriptionId": {
        "type": "String"
      }
    },
    "annotations": [],
    "lastPublishTime": "2025-11-12T16:12:33Z"
  },
  "type": "Microsoft.DataFactory/factories/pipelines"
}
