src/70_domains/idpay_common/data_factory_pipelines/templated/idpay_user_details_report.json
{
    "name": "idpay_user_details_report",
    "properties": {
        "description": "Generate transaction report in a requested time range",
        "activities": [
            {
                "name": "Set_Processing",
                "type": "WebActivity",
                "dependsOn": [
                    {
                        "activity": "Get_SubKey",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "00:10:00",
                    "retry": 2,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "method": "PATCH",
                    "headers": {
                        "Ocp-Apim-Subscription-Key": {
                            "value": "@activity('Get_SubKey').output.value",
                            "type": "Expression"
                        }
                    },
                    "url": {
                        "value": "@concat(\n  '${data_factory_api_base_url}/initiatives/',\n  pipeline().parameters.initiativeId,\n  '/reports/',\n  pipeline().parameters.reportId\n)",
                        "type": "Expression"
                    },
                    "connectVia": {
                        "referenceName": "AutoResolveIntegrationRuntime",
                        "type": "IntegrationRuntimeReference"
                    },
                    "body": {
                        "reportStatus": "IN_PROGRESS"
                    }
                }
            },
            {
                "name": "GenerateCsvToBlob",
                "description": "Run Kusto query on transactions and save result as CSV to Blob",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "Set_Processing",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "02:00:00",
                    "retry": 2,
                    "retryIntervalInSeconds": 60,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureDataExplorerSource",
                        "query": {
                            "value": "let tx = transaction\n| where elaborationDateTime >= todatetime('@{pipeline().parameters.startDate}') and elaborationDateTime <= todatetime('@{pipeline().parameters.endDate}')\n| where status in ('INVOICED', 'CAPTURED', 'REWARDED')\n| project \n    tx_userId = userId,\n    tx_status = status,\n    tx_elaborationDateTime = elaborationDateTime,\n    valoreEuro = toreal(rewardCountersTotalRewardCents) / 100\n| extend \n    intero = floor(valoreEuro, 1),\n    decimale = valoreEuro % 1\n| extend \n    BonusErogatoArrotondato = iif(decimale > 0.50, intero + 1, intero);\nlet dv = data_vault \n| project dv_userId = _id, dv_fiscalCode = data;\ntx \n| join kind=inner dv on $left.tx_userId == $right.dv_userId\n| project\n    CodiceFiscale = dv_fiscalCode,\n    Importo = BonusErogatoArrotondato",
                          "type": "Expression"
                        },
                        "queryTimeout": "01:00:00",
                        "noTruncation": true
                    },
                    "sink": {
                        "type": "DelimitedTextSink",
                        "storeSettings": {
                            "type": "AzureBlobStorageWriteSettings"
                        },
                        "formatSettings": {
                            "type": "DelimitedTextWriteSettings",
                            "quoteAllText": true,
                            "fileExtension": ".csv"
                        }
                    },
                    "enableStaging": false
                },
                "inputs": [
                    {
                        "referenceName": "data_explorer_idpay_transaction",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "blob_report_user_details",
                        "type": "DatasetReference",
                        "parameters": {
                            "initiativeId": {
                                "value": "@pipeline().parameters.initiativeId",
                                "type": "Expression"
                            },
                            "reportName": {
                                "value": "@pipeline().parameters.reportName",
                                "type": "Expression"
                            }
                        }
                    }
                ]
            },
            {
                "name": "Set_Done",
                "type": "WebActivity",
                "dependsOn": [
                    {
                        "activity": "GenerateCsvToBlob",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "Get_SubKey",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "00:10:00",
                    "retry": 2,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "method": "PATCH",
                    "headers": {
                        "Ocp-Apim-Subscription-Key": {
                            "value": "@activity('Get_SubKey').output.value",
                            "type": "Expression"
                        }
                    },
                    "url": {
                        "value": "@concat(\n  '${data_factory_api_base_url}/initiatives/',\n  pipeline().parameters.initiativeId,\n  '/reports/',\n  pipeline().parameters.reportId\n)",
                        "type": "Expression"
                    },
                    "connectVia": {
                        "referenceName": "AutoResolveIntegrationRuntime",
                        "type": "IntegrationRuntimeReference"
                    },
                    "body": {
                        "reportStatus": "GENERATED"
                    }
                }
            },
            {
                "name": "Set_Failed",
                "type": "WebActivity",
                "dependsOn": [
                    {
                        "activity": "GenerateCsvToBlob",
                        "dependencyConditions": [
                            "Failed"
                        ]
                    },
                    {
                        "activity": "Get_SubKey",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "00:10:00",
                    "retry": 1,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "method": "PATCH",
                    "headers": {
                        "Ocp-Apim-Subscription-Key": {
                            "value": "@activity('Get_SubKey').output.value",
                            "type": "Expression"
                        }
                    },
                    "url": {
                        "value": "@concat(\n  '${data_factory_api_base_url}/initiatives/',\n  pipeline().parameters.initiativeId,\n  '/reports/',\n  pipeline().parameters.reportId\n)",
                        "type": "Expression"
                    },
                    "connectVia": {
                        "referenceName": "AutoResolveIntegrationRuntime",
                        "type": "IntegrationRuntimeReference"
                    },
                    "body": {
                        "reportStatus": "FAILED"
                    }
                }
            },
            {
                "name": "Get_SubKey",
                "type": "WebActivity",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 3,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": true,
                    "secureInput": true
                },
                "userProperties": [],
                "typeProperties": {
                    "method": "GET",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "url": {
                        "value": "${kv_url}secrets/idpay-df-subscription-key?api-version=7.3",
                        "type": "Expression"
                    },
                    "connectVia": {
                        "referenceName": "AutoResolveIntegrationRuntime",
                        "type": "IntegrationRuntimeReference"
                    },
                    "authentication": {
                        "type": "MSI",
                        "resource": "https://vault.azure.net"
                    }
                }
            }
        ],
        "concurrency": 5,
        "parameters": {
            "endDate": {
                "type": "String"
            },
            "initiativeId": {
                "type": "String"
            },
            "reportId": {
                "type": "String"
            },
            "reportName": {
                "type": "String"
            },
            "startDate": {
                "type": "String"
            }
        },
        "annotations": []
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}
